<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--<system.serviceModel>
        <bindings>
            <netMsmqBinding>
                <binding name="NetMsmqBinding_IMsmqQueueProcessor">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
        </bindings>
        <client>
            <endpoint address="net.msmq://localhost/private/TicketingSolutionMsmqQueueProcessing/MsmqQueueProcessor.svc"
                binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_IMsmqQueueProcessor"
                contract="MsmqWcfWrapper.IMsmqQueueProcessor" name="NetMsmqBinding_IMsmqQueueProcessor" />
        </client>
    </system.serviceModel>-->
</configuration>